:root {
  --bs-navbar-active-color: #344767;
}

.icon {
  display: inline-block;
  height: 48px;
  width: 48px;
  text-align: center;
}

.icon i {
  position: relative;
  top: 10px;
}

.sidebar-main {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15.625rem;
  overflow-y: auto;
  left: 0;
  padding: 0;
  transform: translateX(0);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.main-content {
  margin-left: 20rem;
  transition: margin-left 0.3s ease-in-out;
}

.navbar-nav #sidebarToggler {
  display: none;
}

@media screen and (max-width: 1280px) {
  .sidebar-main {
    transform: translateX(-100%);
  }

  .navbar-nav #sidebarToggler {
    display: block;
  }

  .main-content {
    margin-left: 0;
  }

  .showSidebar {
    background-color: white;
    padding: 2rem 0;
    margin-left: 17.5rem;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
  }

  .sidebar-main.showSidebar {
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  }
}

@media screen and (min-width: 1281px) {
  .sidebar-main.showSidebar {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 15.625rem;
  }

  .sidebar-main.showSidebar {
    background-color: #f8f9fa;
    box-shadow: 0;
  }
}

.sidenav {
  z-index: 1030;
  margin: 1rem !important;
  transition: all 0.2s ease-in-out;
}

.main-content {
  transition: all 0.2s ease-in-out;
}

.navbar {
  color: #344767;
}

.navbar-brand {
  display: block;
}

.sidenav-header {
  height: 4.875rem;
}

.sidenav-header .navbar-brand {
  padding: 1.5rem 2rem;
}

.navbar-brand > img {
  max-width: 100%;
  max-height: 2rem;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
}

.navbar-nav > .nav-item {
  margin-top: 0.125rem;
}

.nav-item {
  width: 100%;
}

.nav-link {
  padding: 0.675rem 1rem;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  color: #67748e;
}

.card,
.card-body {
  font-family: "Open Sans";
  min-width: 125px;
  width: auto;
}

.nav-link .icon {
  height: 0;
}

.nav-link.active {
  font-weight: 700;
}

.bg-gradient-primary {
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
}

.border-radius-lg {
  border-radius: var(--bs-border-radius-lg);
}

.bg-cover {
  background-size: cover !important;
}

.card-with-bg {
  background-image: url(./images/mac.jpg);
}

.icon svg {
  color: white;
}
